<%
  name = {
    fumen: ['nov', 'adv', 'exh', 'inf'],
    rank: ['D', 'C', 'B', 'A', 'AA', 'AAA', '990'],
    clear: ['FAIL', 'CLR', 'H-CLR', 'UC', 'PUC'],
    clear_short: 'FCHUP',
    count: {
      long: ['PLAY', 'CLEAR', 'UC', 'PUC'],
      short: ['PLAY', 'CL', 'UC', 'PUC'],
      class: ['play', 'clear', 'uc', 'puc']
    }
  }
  function zfill_p(f) {
    return ('00' + (f * 100).toFixed(6)).slice(-10)
  }
%>
<%- include('partial/header', {
  title: meta.nickname,
  script: [
    '/js/list-1.1.1.min.js',
    '/js/sdvx-list.js',
    '/js/sdvx-stat.js'
  ]
}) %>
<script>
var statdata = <%- JSON.stringify(stat) %>
</script>
<header>
  <div class="left">
    <div class="class" data-skill-level="<%= meta.skill_no %>">
      <span>
        Class Lv. <%= meta.skill_no == 12? '∞' : meta.skill_no %>
      </span>
      <span class="pull-right">
        <%= meta.skill_name %>
      </span>
    </div>
    <div class="name">
      <img src="//<%= api.cdn + meta.apcard %>" />
      <h1>
        <%= meta.name %>
      </h1>
    </div>
    <ul class="stat">
      <li>
        <span class="value"> <%= meta.play %> </span>
        <span class="label"> 플레이 </span>
      </li><li>
        <span class="value"> <%= meta.packet %> </span>
        <span class="label"> 패킷 </span>
      </li><li>
        <span class="value"> <%= meta.block %> </span>
        <span class="label"> 블럭 </span>
      </li>
    </ul>
  </div> <!-- /left -->
  <div class="right">
    <div class="header">
      <select id="stat_level">
        <option value="16"> 모두 </option>
        <% for(var i=1; i<=16; i++) { %>
          <option value="<%= i - 1 %>"> 레벨 <%= i %> </option>
        <% } %>
      </select>
      <span class="pull-right">
        <span class="text-muted"> 평균 </span>
        <span id="v_average"> <%= ~~(stat[16].total / stat[16].count) %> </span>
        /
        <span class="text-muted"> 플레이 </span>
        <span id="v_count"> <%= stat[16].count %> </span>
        /
        <span class="text-muted"> 해금 </span>
        <span id="v_totalcount"> <%= stat[16].totalcount %> </span>
      </span>
    </div>
    <div class="body">
      <h2>
        랭크
        <span class="text-muted pull-right"> AAA의 갯수에 >990은 포함되지 않습니다 </span>
      </h2>
      <div class="statbar">
        <% for(var i=0; i<=6; i++) { %>
          <div class="segment rank-<%= i %>"
               style="width: <%= stat[16].rank[i] / stat[16].count * 100 %>%">
            <%= stat[16].rank[i] %>
          </div>
        <% } %>
      </div>
      <ul class="rank">
        <% for(var i=0; i<=6; i++) { %>
          <li class="summary rank-<%= i %>">
            <span class="value rank-<%= i %>"> <%= stat[16].rank[i] %> </span>
            <span class="label">
              <%= name.rank[i] %><br />
              <span id="p_rank<%= i %>">
                <%= (stat[16].rank[i] / stat[16].count * 100).toFixed(1) || 0 %>
              </span>%
            </span>
          </li>
        <% } %>
      </ul>

      <h2> 클리어 </h2>
      <div class="statbar">
        <% for(var i=0; i<=4; i++) { %>
          <div class="segment clear-<%= i %>"
               style="width: <%= stat[16].clear[i] / stat[16].count * 100 %>%">
            <%= stat[16].clear[i] %>
          </div>
        <% } %>
      </div>
      <ul class="clear">
        <% for(var i=0; i<=4; i++) { %>
          <li class="summary clear-<%= i %>">
            <span class="value clear-<%= i %>"> <%= stat[16].clear[i] %> </span>
            <span class="label">
              <%= name.clear[i] %><br />
              <span id="p_clear<%= i %>">
                <%= (stat[16].clear[i] / stat[16].count * 100).toFixed(1) || 0 %>
              </span>%
            </span>
          </li>
        <% } %>
      </ul>
  </div> <!-- /right -->
</header>
<main>
  <ul class="list-song list">
    <% for(var song in songs) { %>
      <% var song = songs[song]; %>
      <% for(var f in name.fumen) { %>
        <% var current = name.fumen[f]; %>
        <% var fumen = song[current]; %>
        <% if(fumen === undefined || fumen.score === undefined) continue; %>
        <li class="song <%= (song.isGravity && current == 'inf')? 'grv' : current %>">
          <img class="albumart"
               src="http://<%= api.cdn + fumen.illust %>" />
          <div class="side">
            <dl>
              <% for(var p=0; p<4; p++) { %>
                <% var disabled = (p >= 2 && fumen.count[p] == 0)? 'disabled' : ''; %>
                <% var len = (fumen.count[p] > 99)? 'short' : 'long'; %>
                <dt class="<%= disabled %>">
                  <%= name.count[len][p] %>
                </dt>
                <dd class="<%= disabled %> count-<%= name.count.class[p] %>">
                  <%= fumen.count[p] %>
                </dd>
              <% } %>
            </dl>
          </div>
          <div class="top">
            <span class="level skew">
              <span class="unskew list-level">
                <%= fumen.level %>
              </span>
            </span>
            <h1 class="list-title"> <%= song.title %> </h1>
            <h2 class="list-artist"> <%= song.artist %> </h2>
          </div>
          <div class="bottom">
            <span class="clear clear-<%= fumen.clear %>">
              <span class="unskew"> <%= name.clear[fumen.clear] %> </span>
            </span><!--
         --><span class="rank rank-<%= fumen.rank %>">
              <span class="unskew"> <%= name.rank[fumen.rank] %> </span>
            </span>
            <span class="score">
              <%= fumen.score %>
            </span>
          </div>
          <div class="hidden" style="visibility: hidden;">
            <span class="list-clear"> <%= fumen.clear %> </span>
            <span class="list-rank"> <%= fumen.rank %> </span>
            <span class="list-score"> <%= fumen.score %> </span>
            <span class="list-played"> <%= fumen.count[0] %> </span>
            <span class="list-clearrate"> <%= zfill_p(fumen.count[1] / fumen.count[0]) %> </span>
          </div>
        </li>
      <% } %>
    <% } %>
  </ul>
</main>
<aside class="left">
  <div class="nav-header">
    <label for="reset" class="nav-button left">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </label><span class="title">
      아즈인포
    </span>
  </div>
  <ul class="aside-menu">
    <a href="<%- login_uri %>/.." target="_blank">
      <li>
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2zm-2-9c-4.97 0-9 4.03-9 9H0l4 4 4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.51 0-2.91-.49-4.06-1.3l-1.42 1.44C8.04 20.3 9.94 21 12 21c4.97 0 9-4.03 9-9s-4.03-9-9-9z"/>
        </svg><!--
     --><span class="label">
          제어판
        </span>
      </li>
    </a>
    <a href="https://twitter.com/intent/tweet?in_reply_to=695924940051083264">
      <li>
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"/>
        </svg><!--
     --><span class="label">
          개발자에게 트윗하기
        </span>
      </li>
    </a>
    <li class="menu-title">
      정렬
    </li>
    <li class="sort" data-sort="list-title">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.94 4.66h-4.72l2.36-2.36zm-4.69 14.71h4.66l-2.33 2.33zM6.1 6.27L1.6 17.73h1.84l.92-2.45h5.11l.92 2.45h1.84L7.74 6.27H6.1zm-1.13 7.37l1.94-5.18 1.94 5.18H4.97zm10.76 2.5h6.12v1.59h-8.53v-1.29l5.92-8.56h-5.88v-1.6h8.3v1.26l-5.93 8.6z"/>
      </svg><!--
   --><span class="label">
        제목
      </span>
    </li>
    <li class="sort" data-sort="list-level">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M2,17h2v0.5H3v1h1V19H2v1h3v-4H2V17z M3,8h1V4H2v1h1V8z M2,11h1.8L2,13.1V14h3v-1H3.2L5,10.9V10H2V11z M7,5v2h14V5H7z M7,19h8v-2H7V19z M7,13h11v-2H7V13z"/>
      </svg><!--
   --><span class="label">
        레벨
      </span>
    </li>
    <li class="sort" data-sort="list-rank">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.45 16h2.09L9.43 3H7.57L2.46 16h2.09l1.12-3h5.64l1.14 3zm-6.02-5L8.5 5.48 10.57 11H6.43zm15.16.59l-8.09 8.09L9.83 16l-1.41 1.41 5.09 5.09L23 13l-1.41-1.41z"/>
      </svg><!--
   --><span class="label">
        랭크
      </span>
    </li>
    <li class="sort" data-sort="list-clear">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/>
      </svg><!--
   --><span class="label">
        클리어램프
      </span>
    </li>
    <li class="sort" data-sort="list-score">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.9,12.9c2.1,0,3.4-1.1,3.5-3.2c-1,1.3-3,1.3-4.1,0.2c-1-1.1-1.1-3-0.5-4.3c0.7-1.4,2.3-2,3.7-1.5c1.6,0.5,2.1,2.3,2.1,3.9 v0.5c0,1.4-0.2,3-1.1,4.2C4.7,13.6,3.3,14,1.9,14H1.8v-1.1H1.9z M3.5,9.6c0.9,0,1.7-0.6,2-1.4V7.7c0-0.9-0.2-1.9-1-2.5 C3.8,4.8,2.8,4.9,2.2,5.5C1.2,6.7,1.5,9.6,3.5,9.6z M15.3,4.7L11.2,14H9.8L14,5.1H8.6V4h6.7V4.7z M23.7,4.7L19.6,14h-1.3l4.1-8.8H17 V4h6.7V4.7z M3,17H0v3h3V17z M8,17H5v3h3V17z M24,17H10v3h14V17z"/>
      </svg><!--
   --><span class="label">
        점수
      </span>
    </li>
    <li class="sort" data-sort="list-played">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 5v14l11-7z"/>
      </svg><!--
   --><span class="label">
        플레이카운트
      </span>
    </li>
    <li class="sort" data-sort="list-clearrate">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M20,5l-1-1L4,19l1,1 M8.7,8c-0.1,0.9-0.4,1.6-1,2.1s-1.3,0.8-2.3,0.8c-1,0-1.8-0.3-2.4-1S2.1,8.4,2.1,7.3V5.7 c0-1.1,0.3-1.9,0.9-2.6s1.4-1,2.4-1c1,0,1.8,0.3,2.3,0.8s0.9,1.2,1,2.2H7.3C7.2,4.5,7.1,4,6.8,3.7S6.1,3.3,5.5,3.3 C4.9,3.3,4.4,3.5,4.1,4S3.6,5,3.6,5.7v1.6c0,0.7,0.2,1.3,0.5,1.8s0.8,0.7,1.4,0.7c0.6,0,1-0.1,1.3-0.4S7.2,8.6,7.3,8H8.7z M21.9,14.5h-2.7v7.4h-1.4v-7.4h-2.7v-1.1h6.7V14.5z"/>
      </svg><!--
   --><span class="label">
        클리어 / 시도 횟수
      </span>
    </li>
  </ul>
</aside>
<%- include('partial/nav') %>
<%- include('partial/footer') %>
