<%
  name = {
    fumen: ['nov', 'adv', 'exh', 'inf'],
    rank: ['D', 'C', 'B', 'A', 'AA', 'AAA'],
    clear: ['FAIL', 'CLR', 'H-CLR', 'UC', 'PUC'],
    count: {
      long: ['PLAY', 'CLEAR', 'UC', 'PUC'],
      short: ['PLAY', 'CL', 'UC', 'PUC'],
      class: ['play', 'clear', 'uc', 'puc']
    }
  };
%>
<%- include('partial/header', {
  left: true,
  right: true,
  title: '아즈인포 - ' + meta.nickname
}) %>
<header>
  <div class="title">
    <div class="left">
      <span class="skill-level" data-skill-level="<%= meta.skill_no %>">
        <span class="skill-level-title">
          <%= meta.skill_name %>
        </span>
      </span>
      <h1>
        <%= meta.name %>
      </h1>
    </div>
    <div class="right">
      <dl>
        <dd>플레이</dd>
        <dt><%= meta.play %></dt>
        <dd>패킷</dd>
        <dt><%= meta.packet %></dt>
        <dd>블럭</dd>
        <dt><%= meta.block %></dt>
      </dl>
    </div>
  </div>
  <div class="card-container">
    <%- JSON.stringify(stat).replace(/\},\{/g, '<br />') %>
  </div>
</header>
<main>
  <ul class="list-song">
    <% for(var song in songs) { %>
      <% var song = songs[song]; %>
      <% for(var f in name.fumen) { %>
        <% var current = name.fumen[f]; %>
        <% var fumen = song[current]; %>
        <% if(fumen === undefined || fumen.score === undefined) continue; %>
        <li class="song <%= (song.isGravity && current == 'inf')? 'grv' : current %>">
          <img class="albumart"
               src="http://<%= api.cdn + fumen.illust %>" />
          <div class="side">
            <dl>
              <% for(var p=0; p<4; p++) { %>
                <% var disabled = (p >= 2 && fumen.count[p] == 0)? 'disabled' : ''; %>
                <% var len = (fumen.count[p] > 99)? 'short' : 'long'; %>
                <dd class="<%= disabled %>">
                  <%= name.count[len][p] %>
                </dd>
                <dt class="<%= disabled %> count-<%= name.count.class[p] %>">
                  <%= fumen.count[p] %>
                </dt>
              <% } %>
            </dl>
          </div>
          <div class="top">
            <span class="level skew">
              <span class="unskew">
                <%= fumen.level %>
              </span>
            </span>
            <h1> <%= song.title %> </h1>
            <h2> <%= song.artist %> </h2>
          </div>
          <div class="bottom">
            <span class="clear clear-<%= fumen.clear %>">
              <span class="unskew"> <%= name.clear[fumen.clear] %> </span>
            </span><!--
         --><span class="rank rank-<%= fumen.rank %>">
              <span class="unskew"> <%= name.rank[fumen.rank] %> </span>
            </span>
            <span class="score">
              <%= fumen.score %>
            </span>
          </div>
        </li>
      <% } %>
    <% } %>
  </ul>
</main>
<%- include('partial/nav', {
  left: true,
  right: true
}) %>
<aside class="right">
  <div class="nav-header">
    <span class="title">
      정렬
    </span>
    <label for="reset" class="nav-button right">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
      </svg>
    </label>
  </div>
</aside>
<%- include('partial/footer') %>
