<%
  name = {
    fumen: ['nov', 'adv', 'exh', 'inf', 'mxm'],
    rank: [
      ['D', 'C', 'B', 'A', 'A+', 'AA', 'AA+', 'AAA', 'AAA+', 'S'],
      ['D', 'C', 'B', 'A', 'AA', 'AAA']
    ],
    rank2: (legacy?
      ['D', 'C', 'B', 'A', 'AA', 'AAA', 'S']
    : ['B 이하', 'A/+', 'AA', 'AA+', 'AAA', 'AAA+', 'S']
    ),
    clear: ['FAIL', 'CLR', 'H-CLR', 'UC', 'PUC'],
    vs: ['WIN', 'DRAW', 'LOSE'],
    clear_short: 'FCHUP',
    count: {
      long: ['PLAY', 'CLEAR', 'UC', 'PUC'],
      short: ['PLAY', 'CL', 'UC', 'PUC'],
      class: ['play', 'clear', 'uc', 'puc']
    }
  }
  zfill_score = function zfill_score(f) {
    var val = parseInt(f)
    var full = ('00000000' + val).slice(-8)

    if(val === 0) {
      return '<span class="score-leading-zero">0</span>'
    } else if(val < 10000) {
      return full.replace(/^0000(0{0,4})(\d{0,4})$/,
            '<span class="score-leading-zero"><span class="score-first">0000</span>$1</span>$2')
    } else {
      return full.replace(/^(0{0,4})(\d{0,4})(\d{4})$/,
            '<span class="score-first"><span class="score-leading-zero">$1</span>$2</span>$3')
    }
  }
  zfill_p = function zfill_p(f) {
    return ('00' + (f * 100).toFixed(6)).slice(-10)
  }
  var total = [0, 0, 0, 0]

  var vs = false
  title = meta.nickname

  if(typeof meta2 !== typeof undefined) {
    vs = true
    title += ' vs ' + meta2.nickname
  }
%>
<%- include('partial/header', {
  title: title,
  script: [
    '/js/list-1.2.0.min.js',
    '/js/sdvx-list.js',
    '/js/sdvx-stat.js',
    '/js/blazy-1.6.2.min.js'
  ]
}) %>
<script>

var zfill_score = <%- zfill_score.toString() %>

var statdata = <%- JSON.stringify(stat) %>
<% if(vs) { %>
var statdata2 = <%- JSON.stringify(stat2) %>
<% } %>
</script>
<header <%- vs? 'class="vs"':'' %>>
  <div class="profile <%= legacy %>">
    <div class="class" data-skill-level="<%= meta.skill_no %>">
      <span>
        Class Lv. <%= meta.skill_no == 12? '∞' : meta.skill_no %>
      </span>
      <span class="pull-right">
        <%= typeof meta.skill_name == 'string'? meta.skill_name.replace(' ', '') : '' %>
      </span>
    </div>
    <div class="name">
      <img src="//<%= api.cdn + meta.apcard %>" />
      <h1>
        <%= meta.name %>
      </h1>
    </div>
    <ul class="stat">
      <li>
        <span class="value"> <%= meta.play %> </span><!--
     --><span class="label"> 플레이 </span>
      </li><li>
        <span class="value"> <%= meta.packet %> </span><!--
     --><span class="label"> 패킷 </span>
      </li><li>
        <span class="value"> <%= meta.block %> </span><!--
     --><span class="label"> 블럭 </span>
      </li>
    </ul>
  </div><!-- /profile
  <% if(!vs) { %>
  --><div class="stat">
      <div class="header">
        <span>
          <b>필터</b>:
        </span>
        <select id="stat_level" class="filter-level">
          <option value="0"> 모두 </option>
          <% for(var i=1; i<=(legacy || legacy2? 16 : 20); i++) { %>
            <option value="<%= i %>"> 레벨 <%= i %> </option>
          <% } %>
        </select>
        <span class="pull-right">
          <span id="v_count"> <%= stat[0].count %> </span>
          /
          <span id="v_totalcount"> <%= stat[0].totalcount %> </span>
        </span>
      </div>
      <div class="body">
        <h2>
          랭크
          <span class="pull-right">
            <span class="text-muted"> 평균 </span>
            <span id="v_average"> <%= ~~(stat[0].total / stat[0].count) %> </span>
          </span>
        </h2>
        <div class="statbar <%= legacy %>">
          <% for(var i=0; i<=6; i++) { %>
            <div class="segment rank-<%= i %>"
                 style="width: <%= stat[0].rank[i] / stat[0].count * 100 %>%">
              <%= stat[0].rank[i] %>
            </div>
          <% } %>
        </div>
        <ul class="rank">
          <% for(var i=0; i<=6; i++) { %>
            <li class="summary rank-<%= i %> <%= stat[0].rank[i]? '' : 'text-muted' %>">
              <span class="value rank-<%= i %>"> <%= stat[0].rank[i] %> </span>
              <span class="label">
                <%= name.rank2[i] %><br />
                <span id="p_rank<%= i %>">
                  <%= (stat[0].rank[i] / stat[0].count * 100).toFixed(1) || 0 %></span>%
              </span>
            </li>
          <% } %>
        </ul>

        <h2> 클리어 </h2>
        <div class="statbar">
          <% for(var i=0; i<=4; i++) { %>
            <div class="segment clear-<%= i %>"
                 style="width: <%= stat[0].clear[i] / stat[0].count * 100 %>%">
              <%= stat[0].clear[i] %>
            </div>
          <% } %>
        </div>
        <ul class="clear">
          <% for(var i=0; i<=4; i++) { %>
            <li class="summary clear-<%= i %> <%= stat[0].clear[i]? '' : 'text-muted' %>">
              <span class="value clear-<%= i %>"> <%= stat[0].clear[i] %> </span>
              <span class="label">
                <%= name.clear[i] %><br />
                <span id="p_clear<%= i %>">
                  <%= (stat[0].clear[i] / stat[0].count * 100).toFixed(1) || 0 %></span>%
              </span>
            </li>
          <% } %>
        </ul>
      </div> <!-- /body -->
    </div> <!-- /stat -->
  <% } else { %>
 --><div class="profile <%= legacy2 %>">
      <div class="class" data-skill-level="<%= meta2.skill_no %>">
        <span>
          Class Lv. <%= meta2.skill_no == 12? '∞' : meta2.skill_no %>
        </span>
        <span class="pull-right">
          <%= typeof meta2.skill_name == 'string'? meta2.skill_name.replace(' ', '') : '' %>
        </span>
      </div>
      <div class="name">
        <img src="//<%= api.cdn + meta2.apcard %>" />
        <h1>
          <%= meta2.name %>
        </h1>
      </div>
      <ul class="stat">
        <li>
          <span class="value"> <%= meta2.play %> </span><!--
       --><span class="label"> 플레이 </span>
        </li><li>
          <span class="value"> <%= meta2.packet %> </span><!--
       --><span class="label"> 패킷 </span>
        </li><li>
          <span class="value"> <%= meta2.block %> </span><!--
       --><span class="label"> 블럭 </span>
        </li>
      </ul>
    </div><!-- /profile
 --><div class="stat vs">
      <div class="header">
        <span>
          <b>필터</b>:
        </span>
        <select id="vs_level" class="filter-level">
          <option value="0"> 모두 </option>
          <% for(var i=1; i<=20; i++) { %>
            <option value="<%= i %>"> 레벨 <%= i %> </option>
          <% } %>
        </select>
      </div>
      <div class="body">
        <h2 class="text-center">
          <span id="v1_average"><%= ~~(stat[0].total / stat[0].count) %></span><br />
          <span class="text-muted"> 평균 vs </span>
          <br /><span id="v2_average"><%= ~~(stat2[0].total / stat2[0].count) %></span>
        </h2>
        <div class="statbar">
          <% for(var i=0; i<=2; i++) { %>
            <div class="segment vs-<%= i %>"
                 style="width: <%= stat[0].vs[i] / stat[0].vslength * 100 %>%">
              <%= stat[0].vs[i] %>
            </div>
          <% } %>
        </div>
        <ul class="rank vs">
          <% for(var i=0; i<=2; i++) { %>
            <li class="summary vs-<%= i %> <%= stat[0].vs[i]? '' : 'text-muted' %>">
              <span class="value vs-<%= i %>"> <%= stat[0].vs[i] %> </span>
              <span class="label">
                <%= name.vs[i] %><br />
                <span id="p_vs<%= i %>">
                  <%= (stat[0].vs[i] / stat[0].count * 100).toFixed(1) %></span>%
              </span>
            </li>
          <% } %>
        </ul>
        <ul class="links">
          <li onclick="clearFilter()">
            <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
            </svg><!--
         --><span class="label">
              필터 지우기
            </span>
          </li>
          <a href="../">
            <li>
              <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
              </svg><!--
           --><span class="label">
                내 기록만 보기
              </span>
            </li>
          </a>
          <a href="../../<%= meta2.nickname %>/vs/<%= meta.nickname %>">
            <li>
              <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M18 4l-4 4h3v7c0 1.1-.9 2-2 2s-2-.9-2-2V8c0-2.21-1.79-4-4-4S5 5.79 5 8v7H2l4 4 4-4H7V8c0-1.1.9-2 2-2s2 .9 2 2v7c0 2.21 1.79 4 4 4s4-1.79 4-4V8h3l-4-4z"/>
              </svg><!--
           --><span class="label">
                뒤집기
              </span>
            </li>
          </a>
        </ul>
      </div> <!-- /body -->
    </div> <!-- /stat -->
  <% } %>
</header>
<main>
  <ul class="list-song list">
    <% for(var song in songs) { %>
      <% var song = songs[song]; %>
      <% for(var f in name.fumen) { %>
        <% var current = name.fumen[f]; %>
        <% var fumen = song[current]; %>

        <% if(fumen === undefined || fumen.score === undefined) continue; %>

        <li class="song <%= current == 'inf'? song.appendType : current %>"
            data-clear="<%= fumen.clear %>"
            data-score="<%= fumen.score %>"
            <% if(!vs) { %>
              data-clearrate="<%= zfill_p(fumen.count[1] / fumen.count[0]) %>"
            <% } else { %>
              data-diff="<%= (fumen.score || 0) - (fumen.score2 || 0) %>"
              data-both="<%= fumen.score && fumen.score2 && true || false %>"
            <% } %>>
          <img class="albumart lazy-load"
               src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
               data-src="http://<%= api.cdn + fumen.illust %>" />
          <% if(!vs) { %>
            <div class="side">
              <dl>
                <% for(var p=0; p<4; p++) { %>
                  <% var disabled = (p >= 2 && fumen.count[p] == 0)? 'disabled' : ''; %>
                  <% var len = (fumen.count[p] > 99)? 'short' : 'long'; %>
                  <dt class="<%= disabled %>">
                    <%= name.count[len][p] %>
                  </dt>
                  <dd class="<%= disabled %> count-<%= name.count.class[p] %>">
                    <%= fumen.count[p] %>
                    <% total[p] += fumen.count[p] %>
                  </dd>
                <% } %>
              </dl>
            </div>
          <% } %>
          <div class="top">
            <span class="level skew">
              <span class="unskew list-level">
                <%= fumen.level %>
              </span>
            </span>
            <h1 class="list-title"> <%= song.title %> </h1>
            <h2 class="list-artist"> <%= song.artist %> </h2>
          </div>
          <div class="bottom">
            <% if(fumen.score) { %>
              <span class="clear clear-<%= fumen.clear %>">
                <span class="unskew"> <%= name.clear[fumen.clear] %> </span>
              </span><!--
           --><span class="rank rank-<%= fumen.rank %>">
                <span class="unskew"> <%= name.rank[+!!legacy][fumen.rank] %> </span>
              </span>
              <span class="score">
                <%- zfill_score(fumen.score) %>
              </span>
              <% if(vs && fumen.score && fumen.score2) { %>
                <% var gap = (fumen.score || 0) - (fumen.score2 || 0); %>
                <% if(gap > 0) { %>
                  <span class="diff win"> +<%= gap %> </span>
                <% } else if(gap === 0) { %>
                  <span class="diff draw"> ±<%= gap %> </span>
                <% } else { %>
                  <span class="diff lose"> <%= gap %> </span>
                <% } %>
              <% } %>
            <% } else { %>
              <span class="clear clear-<%= fumen.clear %>">
                <span class="unskew"> EMPTY </span>
              </span>
            <% } %>
            <% if(fumen.score2) { %>
              <span class="pull-right">
                <span class="score">
                  <%- zfill_score(fumen.score2) %>
                </span>
                <span class="rank rank-<%= fumen.rank2 %>">
                  <span class="unskew"> <%= name.rank[+!!legacy2][fumen.rank2] %> </span>
                </span><!--
             --><span class="clear clear-<%= fumen.clear2 %>">
                  <span class="unskew"> <%= name.clear[fumen.clear2] %> </span>
                </span>
              </span>
            <% } %>
          </div>
        </li>
      <% } %>
    <% } %>
  </ul>
</main>
<aside class="left">
  <div class="nav-header">
    <label for="reset" class="nav-button left">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </label><span class="title">
      아즈인포
    </span>
  </div>
  <ul class="aside-menu">
    <a href="<%- login_uri %>/.." target="_blank">
      <li>
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2zm-2-9c-4.97 0-9 4.03-9 9H0l4 4 4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.51 0-2.91-.49-4.06-1.3l-1.42 1.44C8.04 20.3 9.94 21 12 21c4.97 0 9-4.03 9-9s-4.03-9-9-9z"/>
        </svg><!--
     --><span class="label">
          제어판
        </span>
      </li>
    </a>
    <a href="https://twitter.com/intent/tweet?in_reply_to=695924940051083264">
      <li>
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"/>
        </svg><!--
     --><span class="label">
          개발자에게 트윗하기
        </span>
      </li>
    </a>
    <li class="menu-title">
      정렬
    </li>
    <li class="sort" data-sort="list-title">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M14.94 4.66h-4.72l2.36-2.36zm-4.69 14.71h4.66l-2.33 2.33zM6.1 6.27L1.6 17.73h1.84l.92-2.45h5.11l.92 2.45h1.84L7.74 6.27H6.1zm-1.13 7.37l1.94-5.18 1.94 5.18H4.97zm10.76 2.5h6.12v1.59h-8.53v-1.29l5.92-8.56h-5.88v-1.6h8.3v1.26l-5.93 8.6z"/>
      </svg><!--
   --><span class="label">
        제목
      </span>
    </li>
    <li class="sort" data-sort="list-level">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M2,17h2v0.5H3v1h1V19H2v1h3v-4H2V17z M3,8h1V4H2v1h1V8z M2,11h1.8L2,13.1V14h3v-1H3.2L5,10.9V10H2V11z M7,5v2h14V5H7z M7,19h8v-2H7V19z M7,13h11v-2H7V13z"/>
      </svg><!--
   --><span class="label">
        레벨
      </span>
    </li>
    <li class="sort" data-sort="clear">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/>
      </svg><!--
   --><span class="label">
        클리어램프
      </span>
    </li>
    <li class="sort" data-sort="score">
      <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M1.9,12.9c2.1,0,3.4-1.1,3.5-3.2c-1,1.3-3,1.3-4.1,0.2c-1-1.1-1.1-3-0.5-4.3c0.7-1.4,2.3-2,3.7-1.5c1.6,0.5,2.1,2.3,2.1,3.9 v0.5c0,1.4-0.2,3-1.1,4.2C4.7,13.6,3.3,14,1.9,14H1.8v-1.1H1.9z M3.5,9.6c0.9,0,1.7-0.6,2-1.4V7.7c0-0.9-0.2-1.9-1-2.5 C3.8,4.8,2.8,4.9,2.2,5.5C1.2,6.7,1.5,9.6,3.5,9.6z M15.3,4.7L11.2,14H9.8L14,5.1H8.6V4h6.7V4.7z M23.7,4.7L19.6,14h-1.3l4.1-8.8H17 V4h6.7V4.7z M3,17H0v3h3V17z M8,17H5v3h3V17z M24,17H10v3h14V17z"/>
      </svg><!--
   --><span class="label">
        점수 (랭크)
      </span>
    </li>
    <% if(!vs) { %>
      <li class="sort" data-sort="count-play">
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M8 5v14l11-7z"/>
        </svg><!--
     --><span class="label">
          플레이카운트
        </span>
      </li>
      <li class="sort" data-sort="clearrate">
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M20,5l-1-1L4,19l1,1 M8.7,8c-0.1,0.9-0.4,1.6-1,2.1s-1.3,0.8-2.3,0.8c-1,0-1.8-0.3-2.4-1S2.1,8.4,2.1,7.3V5.7 c0-1.1,0.3-1.9,0.9-2.6s1.4-1,2.4-1c1,0,1.8,0.3,2.3,0.8s0.9,1.2,1,2.2H7.3C7.2,4.5,7.1,4,6.8,3.7S6.1,3.3,5.5,3.3 C4.9,3.3,4.4,3.5,4.1,4S3.6,5,3.6,5.7v1.6c0,0.7,0.2,1.3,0.5,1.8s0.8,0.7,1.4,0.7c0.6,0,1-0.1,1.3-0.4S7.2,8.6,7.3,8H8.7z M21.9,14.5h-2.7v7.4h-1.4v-7.4h-2.7v-1.1h6.7V14.5z"/>
        </svg><!--
     --><span class="label">
          클리어 / 시도 횟수
        </span>
      </li>
    <% } else { %>
      <li class="sort" data-sort="diff">
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M8 19h3v4h2v-4h3l-4-4-4 4zm8-14h-3V1h-2v4H8l4 4 4-4zM4 11v2h16v-2H4z"/>
        </svg><!--
     --><span class="label">
          점수 차이
        </span>
      </li>
      <li class="menu-title">
        필터
      </li>
      <li onclick="filterBoth()">
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M9.01 14H2v2h7.01v3L13 15l-3.99-4v3zm5.98-1v-3H22V8h-7.01V5L11 9l3.99 4z"/>
        </svg><!--
     --><span class="label">
          겹치는 기록만
        </span>
      </li>
      <li onclick="clearFilter()">
        <svg class="icon" width="1.5em" height="1.5em" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        </svg><!--
     --><span class="label">
          지우기
        </span>
      </li>
    <% } %>
    <li class="menu-title">
      두 개 이상의 정렬을 누르면 순서대로 같이 적용됩니다.
    </li>
    <li class="menu-title">
      <span id="list_total"><%= stat[0].count %></span>개 중
      <span id="list_display"><%= stat[0].count >= 500? 500 : stat[0].count %></span>개 표시됨.
    </li>
    <% if(vs) { %>
      <li class="menu-title">
        <%= stat[0].count %>곡 / TBS <%= stat[0].total %>
      </li>
      <li class="menu-title">
        <%= stat2[0].count %>곡 / TBS <%= stat2[0].total %>
      </li>
    <% } else { %>
      <li class="menu-title">
        <%= stat[0].count %>곡 / TBS <%= stat[0].total %>
      </li>
      <li class="menu-title">
        Pl <%= total[0] %>,
        C <%= total[1] %>,
        U <%= total[2] %>,
        P <%= total[3] %>
      </li>
    <% } %>
  </ul>
</aside>
<%- include('partial/nav') %>
<%- include('partial/footer') %>
