<%- include('../partial/header', {
  title: '제어판',
  script: [
    '/js/control.js'
  ]
}) %>
<%
const fdate = function fdate(ts, long) {
  if(ts) {
    let m = moment(ts * 1000)
    if(long)
      return m.format('MM/DD HH:mm')
    if(moment().isSame(m, 'day')) // today
      return m.format('HH:mm')
    else
      return m.format('M월 D일')
  } else return '-'
}
const devices = function devices(d, j) {
  d = d || 0
  let i = []
  if(d & 1) i.push('사볼')
  if(d & 2) i.push('팝픈')
  if(d & 4) i.push('리플렉')
  if(d & 8) i.push('??')
  return i.join(j || ', ') || '없음'
}
const classes = function classes(r) {
  r.device = r.device || 0
  r.status = r.status || 0
  let l = []
  if(r.device & 1)  l.push('sdvx')
  if(r.device & 2)  l.push('popn')
  if(r.device & 4)  l.push('rb')
  if(r.error)       l.push('error')
  if(r.status == 0) l.push('waiting')
  if(r.status == 1) l.push('working')
  if(r.status == 2) l.push('done')

  return l.join(' ') || 'none'
}
const phase = function phase(r) {
  if(r.error) {
    return [,
      { phase: 'detach', message: '유저' },
      { phase: 'attach', message: '아즈인포' },
      { phase: 'detach', message: '아즈인포' },
      { phase: 'attach', message: '유저' },
      { phase: 'attach', message: '유저' },
      { phase: 'cancel' }
    ][r.error]
  } else {
    return [
      { phase: 'waiting', message: devices(r.device) },
      { phase: 'working', message: devices(r.device) },
      { phase: 'done', message: devices(r.device) }
    ][r.status]
  }
}

const strings = {
  waiting: {
    t: '대기 중',
    i: 'M12,3.7c-4.6,0-8.3,3.7-8.3,8.3s3.7,8.3,8.3,8.3c4.6,0,8.3-3.7,8.3-8.3S16.6,3.7,12,3.7z M12,18.7c-3.7,0-6.7-3-6.7-6.7 s3-6.7,6.7-6.7s6.7,3,6.7,6.7S15.7,18.7,12,18.7z M12.4,7.8h-1.2v5l4.4,2.6l0.6-1l-3.7-2.2V7.8z'
  },
  working: {
    t: '진행 중',
    i: 'M19.5,10.4h-5.7l2.3-2.3c-2.3-2.3-6-2.3-8.2-0.1c-2.3,2.3-2.3,5.9,0,8.2c2.3,2.3,6,2.3,8.2,0 c1.1-1.1,1.7-2.4,1.7-4.1h1.7c0,1.6-0.7,3.8-2.2,5.2c-2.9,2.9-7.7,2.9-10.6,0c-2.9-2.9-2.9-7.6,0-10.5s7.6-2.9,10.5,0l2.3-2.3V10.4 z M12.4,8.7v3.5l2.9,1.7l-0.6,1l-3.6-2.1V8.7H12.4z'
  },
  done: {
    t: '성공',
    i: 'M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'
  },
  detach: {
    t: '분리 실패',
    i: 'M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'
  },
  attach: {
    t: '연결 실패',
    i: 'M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'
  },
  cancel: {
    t: '취소됨',
    i: 'M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'
  }
}
/* const errors = [
  000 '오류 없음',
  001 '카드 분리 실패 (유저)',
  010 '카드 등록 실패 (아즈인포)',
  011 '카드 분리 실패 (아즈인포)',
  100 '카드 등록 실패 (유저)',
  101 '카드 등록 실패 (유저)',
  110 '갱신 취소됨'
] */

;%>
<header class="text-only">
  <h1> 제어판 </h1>
</header>
<main class="control">
  <div class="content">
    <h2> 기록 </h2>
    <p> 최근 8개의 기록만 보여집니다. </p>
    <ul class="tile">
      <% let c = (refresh.length > 8)? 8 : refresh.length %>
      <% for(var i=0; i<c; i++) { %>
        <% let r = refresh[i] %>
        <% let p = phase(r) %>
        <% let s = strings[p.phase] %>
        <li class="<%- classes(r) %>">
          <div class="status">
            <svg width="4.5em" height="4.5em" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="<%- s.i %>" />
            </svg>
            <div class="label">
              <b><%= s.t %></b><br />
              <%= p.message %>
            </div>
          </div>
          <div class="footer">
            <span class="top">
              <span class="id"> #<%= r.id %> </span>
              <span class="right"> <%= fdate(r.end || r.start || r.request) %> </span>
            </span>
            <span class="bottom">
              <dl>
                <dd> <%= fdate(r.request, 1) %> </dd>
                <dt> 요청 </dt>
                <dd> <%= fdate(r.start, 1) %> </dd>
                <dt> 시작 </dt>
                <dd> <%= fdate(r.end, 1) %> </dd>
                <dt> 완료 </dt>
              </dl>
          </div>
        </li>
      <% } %>
    </ul>
    <h2> 기록 보기 </h2>
    <ul class="list">
      <li>
        팝픈:
        <ul class="list">
          <li>
            <a href="http://popn.azu.kr/<%= user.nickname %>"> http://popn.azu.kr/<%= user.nickname %> </a>
          </li>
          <li class="text-muted" style="text-decoration: strike">
            신 아즈인포 준비 중
          </li>
        </ul>
      </li>
      <li>
        사볼:
        <ul class="list">
          <li class="text-muted">
            구 히비야 뷰어:
            <a href="http://hibiya.azu.kr/<%= user.nickname %>"> http://hibiya.azu.kr/<%= user.nickname %> </a>
          </li>
          <li class="text-muted">
            구 아즈인포:
            <a href="http://sdvx.azu.kr/<%= user.nickname %>"> http://sdvx.azu.kr/<%= user.nickname %> </a>
          </li>
          <li>
            신 아즈인포:
            <a href="http://test.azu.kr/<%= user.nickname %>"> http://test.azu.kr/<%= user.nickname %> </a>
          </li>
          <li>
            기록 비교하기:
            <br />
            <input type="text" id="vs1" value="<%= user.nickname %>" />
            vs
            <input type="text" id="vs2" />
            <button class="btn btn-primary" onclick="location.href='http://test.azu.kr/'+vs1.value+'/vs/'+vs2.value"> 이동 </button>
          </li>
        </ul>
      </li>
    </ul>
    <h2> 갱신 </h2>
    <p>
      <label for="card"> 카드 번호 </label>
      <span style="display: inline-block; position: relative;" id="card-wrapper">
        <input type="text" id="card" placeholder="터치해서 불러오기..." disabled />
        <span style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"> </span>
      </span>
    </p>
    <p>
      <label for="password"> 비밀번호 </label>
      <input type="text" id="password" maxlength="4" pattern="^[0-9]{4}$" />
    </p>
    <p>
      <label> 기종 </label>
      <input type="checkbox" id="device_1" class="input-devices" value="1" checked/>
      <label for="device_1"> 사볼 </label>
      <input type="checkbox" id="device_2" class="input-devices" value="2" />
      <label for="device_2"> 팝픈 </label>
      <button id="request" class="btn btn-primary"> 갱신 요청 </button>
    </p>
    <span id="loading" class="hidden"> 로드 중... </span>
    <span id="error" class="hidden"> </span>
  </div>
</main>
<%- include('../partial/nav') %>
<%- include('../partial/aside/control') %>
<%- include('../partial/footer') %>
