<%- include('../partial/header', {
  left: true,
  right: true,
  title: '제어판',
  script: [
    '/js/control.js'
  ]
}) %>
<%
var fdate = function(ts) {
  if(ts) {
    var m = moment(ts * 1000)
    var c = moment().subtract(2, 'hours')
    if(m > c)
      return m.fromNow()
    else
      return m.calendar()
  } else return '-'
}
var fddate = function(from, to, processing, complete) {
  if(!to) {
    return processing
  } else {
    var diff = moment(moment(to * 1000) - moment(from * 1000))
    return diff.format('')
  }
}
%>
<header>
  <h1> 제어판 </h1>
</header>
<main>
  <div class="content">
    <h2> 기록 </h2>
    <p> 최근 5개의 기록만 보여집니다. </p>
    <p> 상태 0: 시작 안 함, 1: 진행 중, 2: 완료. </p>
    <ol>
      <% var c = (refresh.length > 5)? 5 : refresh.length %>
      <% for(var i=0; i<c; i++) { %>
        <% var r = refresh[i] %>
        <% console.log(r) %>
        <li value="<%= r.id %>">
          <b><%= fdate(r.request) %></b>에 요청,
          <b><%= fdate(r.start) %></b>부터
          <b><%= fddate(r.start, r.end, '진행 중', '소요') %></b>
          기종 <%= r.device %>,
          오류 <%= r.error %>,
          상태 <%= r.status %>
        </li>
      <% } %>
    </ol>
    <h2> 갱신 </h2>
    <p>
      <label for="card"> 카드 번호 </label>
      <input type="text" id="card" placeholder="xxxxxxxxxxxxxxxx" disabled />
      <button class="btn" id="card-load"> 불러오기 </button>
    </p>
    <p>
      <label for="password"> 비밀번호 </label>
      <input type="text" id="password" maxlength="4" pattern="^[0-9]{4}$" />
    </p>
    <p>
      <label> 기종 </label>
      <input type="checkbox" id="device_1" class="input-devices" value="1" />
      <label for="device_1"> 사볼 </label>
      <input type="checkbox" id="device_2" class="input-devices" value="2" />
      <label for="device_2"> 팝픈 (현재 조회 불가) </label>
    </p>
    <button id="request" class="btn btn-primary"> 갱신 요청 </button>
    <span id="loading" class="hidden"> 로드 중... </span>
    <span id="error" class="hidden"> </span>
  </div>
</main>
<%- include('../partial/nav', {
  left: true,
  right: false
}) %>
<%- include('../partial/footer') %>
