<%- include('../partial/header', {
  title: '로그인',
  script: [
    '/js/bowser.min.js',
    '/js/browser-opt.js'
  ]
}) %>
<header class="width-container">
  <h1> 로그인 </h1>
</header>
<main>
  <div class="content">
    <div class="plugin-content">
      <div class="opt opt-chrome hidden">
        <a href="https://chrome.google.com/webstore/detail/bgbbmehmfgomgnlapkigehemakghfbpj">
          Chrome 플러그인 설치
        </a>
      </div>
      <div class="opt opt-firefox hidden">
        <button class="btn" onclick="InstallTrigger.install({'azuinfo-logintool': 'http://cdn.azu.kr/system/firefox/latest.xpi'});">
          FireFox 플러그인 설치
        </button>
      </div>
    </div>
    <div class="opt opt-chrome opt-firefox hidden">
      또는
    </div>
    <ol>
      <li>
        <a href="http://p.eagate.573.jp/">eAMUSEMENT</a> 페이지에 로그인합니다.
      </li>
      <li>
        아래 코드를 복사해 주소창에 붙여넣습니다.
        <br />
        <b>주의</b>: 붙여넣을 때 앞의 <code>javascript:</code>가 날아가기
        때문에, 직접 다시 입력해야 합니다.
      </li>
    </ol>
    <pre onclick="prompt('Ctrl/Cmd-C를 눌러 복사하세요', this.textContent)"
      >javascript:try{location.href='<%= login_uri %>?session='+/M573SSID=([0-9a-f\-]{36})/.exec(document.cookie)[1]}catch(e){alert(e)}
    </pre>
  </div>
</main>
<% if(typeof error === 'string') { %>
  <%- include('../partial/error', {
        error: error
      }) %>
<% } %>
<%- include('../partial/nav') %>
<%- include('../partial/aside/control') %>
<%- include('../partial/footer') %>
