<%- include('../partial/header', {
  title: '닉네임 설정',
  baseuri: typeof baseuri === 'string' && baseuri
}) %>
<header class="text-only">
  <h1> 닉네임 설정 </h1>
</header>
<main>
  <div class="content">
    <p> 2-16자 사이의 영문 대소문자, 숫자를 사용할 수 있습니다.</p>
    <form action="./nickname" method="post">
      <input type="text" name="nickname" pattern="^[0-9a-zA-Z_]{2,16}$" maxlength="16" placeholder="새 닉네임" />
      <input type="submit" class="btn btn-primary" value="확인" />
    </form>
  </div>
</main>
<% if(typeof error === 'string') { %>
  <%- include('../partial/error', {
        error: error
      }) %>
<% } %>
<%- include('../partial/nav') %>
<%- include('../partial/aside/control') %>
<%- include('../partial/footer') %>
